/********** Template CSS **********/
:root {
    --primary: #767af3;
    --light: #EFF5FF;
    --dark: #767af3;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 , p  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.unbold {
    font-weight: 700 ; /* or a specific value like 400 */
  }
  

        
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top */
}

.modal h1{
    color: #767af3;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

}

.content1 {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 760px;
    position: relative;
    gap: 20px; /* Adds spacing between image and text */
    color: #0a4c44;
}

.modal input {
 
}   
.modal label{
    font-size: 20px;
    margin-bottom:-10px ;
}
.modal  input{
    height: 5vh;
    font-size: 20px;
}
@media(max-width:480px){
    .modal input {
        margin-bottom: 20%;
    }
}
button{
    font-size: 20px;
}
.popup-image-container {
    flex: 1; /* Allows the image container to grow equally */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.popup-image {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: 500px; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 30px;
}

.popup-text-container {
    flex: 1; /* Allows the text container to grow equally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.close-button {
    color: #fe0606;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup-form {
    display: flex;
    flex-direction: column;
}

.imgcon {
    width: 100%; /* Make the image container responsive */
    max-width: 400px; /* Set a maximum width */
    border-radius: 20px;
    overflow: hidden; /* Ensure image fits within container */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .content1 {
        flex-direction: column; 
        width: 300px;
        height: 85%; /* Stack child elements vertically */
    }

    .popup-image-container {
        flex: 1;
        justify-content: center; /* Center image horizontally in the container */
        padding: 0 20px; /* Add horizontal padding if needed */
    }

    .popup-image {
        display: none; /* Maintain aspect ratio */
    }

    .imgcon {
        width: 100%; /* Make image container full width on mobile */
        max-width: none; /* Remove maximum width restriction on mobile */
        margin: 20px 0; /* Adjust margin for mobile */
    }

    .modal input{
        margin-bottom: -2px;
            }
}

.modal button[type="submit"] {
    padding: 10px;
    background: #767af3 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.error-message {
color: red;
display: none; /* Hidden by default */
font-size: 0.875em;
}

.owl-carousel-item {
    text-align: center; /* Center align text (if any) */
}

.imageh {
    width: 100%; /* Ensure the image width is responsive */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent the image from exceeding the container width */
}

@media only screen and (max-width: 768px) {
    .owl-carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imageh {
        width: 100%; /* Adjust to fill container in mobile view */
        height: auto; /* Maintain aspect ratio */
    }
}

.content-5{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.container1 {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.container1 img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}
.container1  .text-content {
    flex-grow: 1;
}
.container1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.container1 p {
    font-size: 16px;
    color: #333;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .container1 {
        flex-direction: column; /* Stack image on top of text */
        align-items: flex-start;
        width: 100%;
    }
    .container1 img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px; /* Space between image and text */
    }
}
@media(max-width:780px){
   .imageh{

   align-items: center;
   }
}
.button-20 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #000000 0, #000000 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
   
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-20:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-20:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    color: white;
  }

  
  .button-20.btn.btn-link::before {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }   

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #000c6b 0, #000c6b 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
   
    height: 48px;
    justify-content: center;
    line-height: 1; 
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    color: white;
  }

  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }   



@media (max-width:780px) {
    .button-29{
        width:100%;

    }
}
    


/* Ensure the container uses Flexbox layout */


/* Style for the icon container */
.icon-container {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

/* Style for headings and list items */
h4 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between sections */
    justify-content: center; /* Center the grid items */
  }
  
  /* Each section */
  .section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items inside each section */
    text-align: center;
  }
  
  /* Content inside each section */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content inside */
  }
  
  /* Cards inside each content */
  .card {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    margin-bottom: 20px; /* Space below each card */
  }
  
  /* Responsive images in cards */
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styling */
  h1
   {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin: 10px 0;
  }
.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
 


/*** Header ***/
.header-carousel .owl-carousel-text {
    position: absolute;
    width: 200%;
    height: 900%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
    object-fit:cover;
    max-width: 600px;
    max-height: 800px;
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/header-page.jpg) top center no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


.team-item {
    max-width: 500px; /* Sets the maximum width of the product item */
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.team-item img {
    width: 500px; /* Sets the width of the images */
    height: 400px; /* Keeps the height consistent */
}

/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
 
}

/* .team-item:hover img {
    top: -30px;

} */

.team-item .team-text {
    
    position: relative;
    height: 200px;
    transition: .5s;

}

/* .team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
} */


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}